.project-img {
  width: 100%;
  object-fit: cover;
  object-position: top;
  height: 220px;
}
.detail-img {
  width: 100%;
  margin: auto;
  border: 2px solid #ffffff;
  border-radius: 5px;
  cursor: n-resize;
}
.detail-img img {
  width: 100%;
  object-fit: cover;
  object-position: top;
  height: 270px;
  transition: 6s all ease;

  &:hover {
    object-position: bottom;
  }
}
